<!doctype html>
<html>

<head>
  <title>GOT OCR for Expeditions</title>
  <meta name="description" content="GOT OCR for Expeditions">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-8 offset-md-2">
        <h1>Convert Expeditions Log to Text</h1>
        <form action="/" method="POST" enctype="multipart/form-data" class="form mt-4">
          <div class="form-group">
            <label for="file-upload" class="sr-only">Upload image file</label>
            <input class="form-control-file" type="file" name="file-upload" id="file-upload">
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-3" type="submit">Convert</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-r" id="results"></div>
  </div>
</body>

</html>